body {
	min-width: 100%;
	background-color: #E6E6DE;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-left: 0px;
	margin-top: 0px;
}

html {
	font-weight: 300;
	scroll-behavior: smooth;
}

#topbar {
	height: 50px;
	background-color: #90908B;
	width: 100%;
	display: inline-block;
	padding-left: 0px;
	margin-left: 0px;
	overflow: hidden;
	padding-top: 0px;
	margin-top: 0px;
}

div#topbar > * {
    vertical-align:middle;
}

#barli {
	border: 0px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

#barli2 {
	border: 0px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	position: relative;
	bottom: 5px;
	padding-left: 0px;
}

div.summary {
	margin-left: 42px;
}

div.summary > * {
	display: inline-block;
	font-size: 25px;
	margin-top: 2px;
	margin-bottom: 6px;
}

div.summary > b {
	font-weight: 700;
	padding-right: 5px;
	padding-left: 5px;
}

div.summary > img {
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 0px;
}

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #90908B;
	font-weight: bold;
	margin: 0px;
	width: 90px;
	height: 70px;
	padding: 0px;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: 0;
	color: rgba(40, 40, 40, 1);
	text-decoration: none;
	display: flex;
	align-items: center;
}

div.sticky p {
	color: rgba(40, 40, 40, 1);
	font-size: 23px;
}

div.sticky a {
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
}

#projectli {
	border: 0px;
	margin: 0px;
	padding: 0px;
	display: block;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

li {
	list-style-type: none;
	font-size: 20px;
}

#projectul {
	padding-inline-start: 0px;
	text-align: center;
}

#name {
	font-size: 30px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	padding-left: 8px;
	padding-top: 5px;
	padding-right: 10px;
	font-weight: 300;
}

#job {
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#returnAbs {
	position: absolute;
	top: 5px;
	right: 10px;
}

#return {
	width: 170px;
	height: 40px;
}

#title {
	text-align: center;
	font-size: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 300;
}

#ghbg {
	margin: auto;
	height: 60px;
	width: 60px;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	border-radius: 10px;
}

#ghlink {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 50px;
}

#ghlink2 {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 41px;
	width: 100px;
	opacity: 80%;
}

#pdlink {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 41px;
	width: 200px;
	opacity: 80%;
}

div.grid-container-outer {
	text-align: center;
}

.grid-container {
	display: block;
	grid-template-columns: auto auto auto;
	width: 100%;
	padding-top: 20px;
	column-gap: 0px;
	margin-left: auto;
	margin-right: auto;
}

.grid-item {
	display: inline-block;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

img {
	height: 309px;
	width: 550px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
	border-radius: 10px;
}

a#toplink img {
	max-width: 550px;
	min-width: 200px;
	width: 100%;
	height: 100%;
}

img.gif {
	height: 215px;
	width: 385px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
	border-radius: 5px;
}

#projectsContainer {
	text-align: center;
}

div.project {
	text-align: center;
	border: 5px solid #90908B;
	max-width: 1500px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

div.gifs {
	display: block;
	padding-bottom: 5px;
}

div.gifstext {
	min-height: 20px;
	padding-bottom: 5px;
	padding-top: 0px;
}

div.gifstext p {
	display: inline-block;
	width: 385px;
	vertical-align: middle;
	margin: 0px;
}

h1.projectHead {
	margin-bottom: 5px;
	font-size: 50px;
}

h3.projectSub {
	margin-top: 5px;
	color: rgba(40, 40, 40, 1);
}

p {
	font-size: 20px;
}

p.techs {
	font-size: 20px;
	font-weight: bold;
	color: rgba(40, 40, 40, 1);
}

.linklist {
	text-align: center;
	display: block;
}

.linklistin {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: rgba(60, 60, 60, 1);
}

#toplink {
	border: 0px;
}